<div id="question_{{ question_id }}" class="question">

    <h1>{{ question.get('title') }}</h1>

    <div class="entry-meta">
        <small><a href="/user/{{ question.get('username') }}"><strong>{{ question.get('username') }}</strong></a> on {{ question.get('created') }} – Views: {{ question.get('view_count') }} Votes: {{ question.get('vote_count') }}</small>
    </div>

    {% if question.get('body') %}
        <p>{{ question.get('body') }}</p>
    {% endif %}

    {% if question.get('image_url') %}
        <img src="{{ question.get('image_url') }}" alt="Illustration"><br>
    {% endif %}

    <div class="tag-row">

        {% for tag in question.get('tags') %}

            <div class="tag">

                #{{ tag.get('name') }}

                {% if user_is_asker %}
                    <a href="/question/{{ question_id }}/tag/{{ tag.get('id') }}/delete">❌</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="button-row">

        <form action="vote-up" method="POST">
            <input type="submit" value="Vote up"{{ ' disabled' if user_is_asker else '' }}>
        </form>

        <form action="vote-down" method="POST">
            <input type="submit" value="Vote down"{{ ' disabled' if user_is_asker else '' }}>
        </form>

        {% if user_is_asker %}

            <form action="edit">
                <input type="submit" value="Edit">
            </form>

            <form action="delete">
                <input type="submit" value="Delete">
            </form>

            <form action="add-tag">
                <input type="submit" value="Add tag">
            </form>
        {% endif %}
    </div>
</div>
