{% extends 'base.html' %}

{% block title %}{{ super() }}
    {% if question %}
        Comment on question #{{ question['id'] }}
    {% elif answer %}
        Comment on answer #{{ answer['id'] }}
    {% endif %}
{% endblock %}

{% block main %}

{% if question %}

    <h2>{{ question['title'] }}</h2>

    {% if question['body'] %}
        <p>{{ question['body'] }}</p>
    {% endif %}

    {% if question['image_url'] %}
        <img src="{{ question['image_url'] }}" alt="Illustration"><br>
    {% endif %}

    <small>Submitted: {{ question['created'] }} Views: {{ question['view_count'] }} Votes: {{ question['vote_count'] }}</small><br>

{% elif answer %}

    <p>{{ answer['body'] }}</p>
    <small>Submitted: {{ answer['created'] }} Votes: {{ answer['vote_count'] }}</small><br>
    {% if answer['image_url'] %}
        <img src="{{ answer['image_url'] }}" alt="Illustration"><br>
    {% endif %}

{% endif %}

<hr>

    <form method="post">

        <label for="body">Add your comment:</label><br>
        <textarea id="body" name="body"></textarea><br>

        <input type="submit">
    </form>


{% endblock %}
