<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}AMYQ - {% endblock %}</title>
        <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
        </header>
        <main>
        <nav>
            <h5><a href="/">Home</a></h5>
            {% if session.get('logged_in') == True %}
                <h5>Logged in as <strong>{{ session.get('username') }}</strong></h5>
                <h5><a href="/logout">Log out</a></h5>
            {% else %}
            <h5><a href="/login">Login</a></h5>
            <h5><a href="/register">Register</a></h5>
            {% endif %}
        </nav>
        <h3><a href="/add-question">Ask a new question</a></h3>
        <hr>
        {% block body %}{% endblock %}
        </main>
        <footer>
        </footer>
    </body>
</html>
