<!--
Copy-paste child of edit-question.html
Except: title, summary field, image_url, label for body
-->
{% extends 'base.html' %}
{% block title %}{{ super() }}
Edit comment #{{ comment['id'] }}
{% endblock %}

{% block body %}

<h2>Edit comment #{{ comment['id'] }} here:</h2>
<form action="/comment/{{ comment['id'] }}/submit-edited-comment" method="post">

    <!--<label for="details">Details:</label><br>-->
    <textarea id="details" name="body">{{ comment['body'] }}</textarea><br>

    <input type="submit">

</form>

{% endblock %}
