<!--
Copy-paste child of add-question.html
Except: title, pre-filled fields
-->
{% extends 'base.html' %}
{% block title %}{{ super() }}
Edit question #{{ question['id'] }}
{% endblock %}

{% block body %}

<h2>Edit question #{{ question['id'] }} here:</h2>
<form method="post">

    <label for="summary">Summary:</label><br>
    <input id="summary" type="text" name="title" placeholder="e.g. &quot;What's the meaning of life?&quot;" value="{{ question['title'] }}" required><br>

    <label for="details">Details:</label><br>
    <textarea id="details" name="body">{{ question['body'] or '' }}</textarea><br>

    <label for="image">Image URL:</label><br>
    <input id="image" type="text" name="image_url" placeholder="e.g. http://www.images.com/cutekitten.jpg" value="{{ question['image_url'] or '' }}" ><br>

    <input type="submit">

</form>

{% endblock %}
