{% extends 'base.html' %}
{% block title %}{{ super() }}
{{ question['title'][:50] + ('...' if question['title']|length > 50 else '') }}
{% endblock %}

{% block body %}

<div id="question_{{ question.get('id') }}" class="question">
    <h2>{{ question['title'] }}</h2>

    {% if question['body'] %}
        <p>{{ question['body'] }}</p>
    {% endif %}

    {% if question['image_url'] %}
        <img src="{{ question['image_url'] }}" alt="Illustration"><br>
    {% endif %}

    {% for tag in question.get('tags') %}

        #{{ tag['name'] }}
        <a href="/question/{{ question['id'] }}/tag/{{ tag['id'] }}/delete">❌</a>

    {% endfor %}<br>

    <small><a href="/user/{{ question.get('username') }}"><strong>{{ question.get('username') }}</strong></a> on {{ question.get('created') }} – Views: {{ question.get('view_count') }} Votes: {{ question.get('vote_count') }}</small><br>

    <form action="add-tag">
        <input type="submit" value="Add tag" />
    </form>

    <form action="vote-up" method="POST">
        <input type="submit" value="Vote up" />
    </form>

    <form action="vote-down" method="POST">
        <input type="submit" value="Vote down" />
    </form>

    <form action="edit">
        <input type="submit" value="Edit" />
    </form>

    <form action="delete">
        <input type="submit" value="Delete" />
    </form>
</div>

{% if question['comments'] %}
    <h4>Comments:</h4>
    {% for comment in question['comments'] %}
        <div id="comment_{{ comment.get('id') }}" class="question_comment">
            <p>{{ comment['body'] }}<br>
                <small><a href="/user/{{ comment.get('username') }}"><strong>{{ comment.get('username') }}</strong></a> on {{ comment.get('created') }}</small><br>
            </p>

            <form action="/comment/{{ comment['id'] }}/edit">
                <input type="submit" value="Edit" />
            </form>

            <form action="/comment/{{ comment['id'] }}/delete">
                <input type="submit" value="Delete" />
            </form>
        </div>
    {% endfor %}
{% endif %}

<small><a href="add-comment">Add comment</a></small>

{% if question.get('answers') %}
    <h3>Answers:</h3>

    {% for answer in question.get('answers') %}
        <div id="answer_{{ answer.get('id') }}" class="answer">
            <p>{{ answer['body'] }}</p>
            <small><a href="/user/{{ answer.get('username') }}"><strong>{{ answer.get('username') }}</strong></a> on {{ answer.get('created') }} – Votes: {{ answer.get('vote_count') }}</small><br>
            {% if answer['image_url'] %}
                <img src="{{ answer['image_url'] }}" alt="Illustration"><br>
            {% endif %}

            <form action="/answer/{{ answer['id'] }}/vote-up" method="POST">
                <input type="submit" value="Vote up" />
            </form>

            <form action="/answer/{{ answer['id'] }}/vote-down" method="POST">
                <input type="submit" value="Vote down" />
            </form>

            <form action="/answer/{{ answer['id'] }}/edit">
                <input type="submit" value="Edit" />
            </form>

            <form action="/answer/{{ answer['id'] }}/delete">
                <input type="submit" value="Delete" />
            </form>
        </div>

        {% if answer['comments'] %}
            <h4>Comments:</h4>
            {% for comment in answer['comments'] %}
                <div id="comment_{{ comment.get('id') }}" class="answer_comment">
                    <p>{{ comment['body'] }}<br>
                        <small><a href="/user/{{ comment.get('username') }}"><strong>{{ comment.get('username') }}</strong></a> on {{ comment.get('created') }}</small><br>
                    </p>

                    <form action="/comment/{{ comment['id'] }}/edit">
                        <input type="submit" value="Edit" />
                    </form>

                    <form action="/comment/{{ comment['id'] }}/delete">
                        <input type="submit" value="Delete" />
                    </form>
                </div>
            {% endfor %}

        {% endif %}
        <small><a href="/answer/{{ answer['id'] }}/add-comment">Add comment</a></small>

    {% endfor %}

    <h3>Add your answer:</h3>

{% else %}

    <h3>Be the first to answer this question:</h3>

{% endif %}

    <form action="submit-answer" method="post">

        <label for="details">Your answer:</label><br>
        <textarea id="details" name="body" minlength="10" required></textarea><br>

        <label for="image">Image URL:</label><br>
        <input id="image" type="text" name="image_url" min placeholder="e.g. http://www.images.com/cutekitten.jpg"><br>

        <input type="submit">

    </form>

{% endblock %}
