{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    {{ question.get('title')[:50] + ('...' if question.get('title')|length > 50 else '') }}
{% endblock %}

{% block main %}

    {% set user_is_asker = (session.username == question.get('username')) %}
    {% set accepted_answer_id = question.get('accepted_answer_id') %}
    {% include 'includes/question.html' %}

    <div class="comments">
        {% if question.get('comments') %}
            {% for comment in question.get('comments') %}
                {% include 'includes/comment.html' %}
            {% endfor %}
            <span><a href="add-comment">Add comment</a></span>
        {% else %}
            <span><a href="add-comment">Be the first to comment</a></span>
        {% endif %}
    </div>

    {% set answer_count = question.get('answers')|length %}
    {% if answer_count %}

        <div class="answers">
            <h2>{{ answer_count }} answer{{ 's' if answer_count > 1 else '' }}</h2>
            {% for answer in question.get('answers') %}
                {% include 'includes/answer.html' %}
                <div class="comments">
                    {% if answer.get('comments') %}
                        {% for comment in answer.get('comments') %}
                            {% include 'includes/comment.html' %}
                        {% endfor %}
                        <span><a href="add-comment">Add comment</a></span>
                    {% else %}
                        <span><a href="add-comment">Be the first to comment</a></span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    {% endif %}

    <div class="add-answer">
        {% if answer_count %}
            <h2>Add your answer:</h2>
        {% else %}
            <h2>Be the first to answer this question:</h2>
        {% endif %}

        <form action="submit-answer" method="post">

            <label for="details">Your answer:</label><br>
            <textarea id="details" name="body" minlength="10" required></textarea><br>

            <label for="image">Image URL:</label><br>
            <input id="image" type="text" name="image_url" min placeholder="e.g. http://www.images.com/cutekitten.jpg"><br>

            <input type="submit">
        </form>
    </div>
{% endblock %}
