{% extends 'base.html' %}
{% block title %}{{ super() }}
Home
{% endblock %}

{% block body %}

<form id="filters" action="questions" method="POST">
    <label for="search">Search: </label>
    <input type="text" id="search" name="search" placeholder="e.g. &quot;kittens&quot;"{{ ' value=' + search if search else '' }}><br>
    <label for="ordering">Order by: </label>
    <select id="ordering" name="ordering" >
        <option value="title-DESC"{{ ' selected' if ordering=='title-DESC' else '' }}>Title, descending</option>
        <option value="title-ASC"{{ ' selected' if ordering=='title-ASC' else '' }}>Title, ascending</option>
        <option value="view_count-DESC"{{ ' selected' if ordering=='view_count-DESC' else '' }}>Views, descending</option>
        <option value="view_count-ASC"{{ ' selected' if ordering=='view_count-ASC' else '' }}>Views, ascending</option>
        <option value="vote_count-DESC"{{ ' selected' if ordering=='vote_count-DESC' else '' }}>Votes, descending</option>
        <option value="vote_count-ASC"{{ ' selected' if ordering=='vote_count-ASC' else '' }}>Votes, ascending</option>
        <option value="time_submitted-DESC"{{ ' selected' if ordering=='time_submitted-DESC' else '' }}>Time submitted, descending</option>
        <option value="time_submitted-ASC"{{ ' selected' if ordering=='time_submitted-ASC' else '' }}>Time submitted, ascending</option>
    </select><br>
    <button name="name" value="value" type="submit">Do it</button>
</form>

<table>
    <tr>
        <th>Title</th>
        <th>Views</th>
        <th>Votes</th>
        <th>Submitted</th>
    </tr>
{% for question in questions %}
    <tr>
        <td><a href="question/{{ question['id'] }}">{{ question['title'] }}</a></td>
        <td>{{ question['view_count'] }}</td>
        <td>{{ question['vote_count'] }}</td>
        <td>{{ question['time_submitted'] }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
