{% extends 'base.html' %}
{% block body %}

<form id="ordering" action="questions" method="POST">
    <select name="ordering" >
        <option value="title-DESC"{{ ' selected' if ordering=='title-DESC' else '' }}>Order by: title, descending</option>
        <option value="title-ASC"{{ ' selected' if ordering=='title-ASC' else '' }}>Order by: title, ascending</option>
        <option value="view_count-DESC"{{ ' selected' if ordering=='view_count-DESC' else '' }}>Order by: views, descending</option>
        <option value="view_count-ASC"{{ ' selected' if ordering=='view_count-ASC' else '' }}>Order by: views, ascending</option>
        <option value="vote_count-DESC"{{ ' selected' if ordering=='vote_count-DESC' else '' }}>Order by: votes, descending</option>
        <option value="vote_count-ASC"{{ ' selected' if ordering=='vote_count-ASC' else '' }}>Order by: votes, ascending</option>
        <option value="time_submitted-DESC"{{ ' selected' if ordering=='time_submitted-DESC' else '' }}>Order by: time submitted, descending</option>
        <option value="time_submitted-ASC"{{ ' selected' if ordering=='time_submitted-ASC' else '' }}>Order by: time submitted, ascending</option>
    </select>
    <button name="name" value="value" type="submit">Do it</button>
</form>

<table>
    <tr>
        <th>Title</th>
        <th>Views</th>
        <th>Votes</th>
        <th>Submitted</th>
    </tr>
{% for question in questions %}
    <tr>
        <td><a href="question/{{ question['id'] }}">{{ question['title'] }}</a></td>
        <td>{{ question['view_count'] }}</td>
        <td>{{ question['vote_count'] }}</td>
        <td>{{ question['time_submitted'] }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
